run = "python -m bot.main"
entrypoint = "bot/main.py"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[env]
TEMP_DIR = "/tmp/botdl"

[deployment]
run = ["sh", "-c", "python -m bot.main"]
deploymentTarget = "vm"
